/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #ffbb0052;
}

#main-content{

    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
article {
    grid-column: 1/-1;
}


body {
    font-family: 'Sofia Sans', arial, sans-serif;
    font-size: 20px;
    color: #131313;
    font-weight: 100;
}

p{
    line-height: 42px;
    color: #363636;

}

h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 56px;
    letter-spacing: 4px;
    background-color: rgb(75, 75, 75);
    border-radius: 5%;
    color: white;
    text-shadow: 4px 4px 0 #131313;
    padding: 15px;
    box-shadow: 10px 10px 5px 0  #ef8206;
    text-align: center;

}

h3 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 42px;
    letter-spacing: 1;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 75px;
}

#orng-bottle {
    margin-bottom: 20px;
    cursor: pointer;

}

#image {
    cursor: pointer;
    margin: 30px 0 60px 0 ;
    
}